services:
  # Aplicación NestJS - Producción
  ms-auth:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    container_name: ms_auth_app_prod
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env.prod
    networks:
      - shared_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 40s

networks:
  shared_network:
    external: true
    name: shared_erp_network
